@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #64748b;
  --font-family-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --color-background: oklch(1 0 0);
  --color-foreground: oklch(0 0 0);
}
body {
  color: var(--color-foreground);
  background: var(--color-background);
  font-family: system-ui, sans-serif, Helvetica, Arial;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--color-background);
    background: var(--color-foreground);
  }
}